img{
	max-width: 100%;
}
body{
	font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration-line: none !important;
}

input:focus, textarea:focus{
	outline: none;
}
.top_head{
    margin: 0;
     padding: 0;
     text-align: right;
}
.top_head li{
    list-style: none;
    display: inline;
    padding: 0 10px;
}
.top_head li a{
    color: black;
    font-weight: 500;
    font-size: 17px;
    position: relative;display: inline-block;
}
.top_head li a i{
    font-size: 24px;
}
.notification_circle{
    background: #00c9ff;
    color: white;
    width: 21px;
    height: 21px;
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    font-size: 11px;
    position: absolute;
    right: -10px;
    top: -5px;
    border: 2px solid white;
}
.signin_btn .btn{
    background:#00c9ff;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 7px 17px;
}
.signup_btn .btn{
    background:#0000ff;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 7px 17px;
}
.header{
    background: #0000ff;
}
.langugae_btn{
        color: blue !important;
    background: white;
    border-radius: 5px;
        padding: 8px 10px;
}
.lng_row .dropdown-item{
        padding: 6px 8px;
}
.blog-single{
    background: #00c9ff0a;
}
.blog-single .article{
    background: white;
    box-shadow: 0 0 30px rgb(31 45 61 / 13%);
    padding: 16px;
}
.blog-single h2{
    color: #1d1d20;
    font-weight: 700;
    font-size: 28px;
    margin: 10px 0;
}
.blog-single p{
    color: #565656;
    font-weight: 400;
}
.blog-single .popular{
    background: white;
    box-shadow: 0 0 30px rgb(31 45 61 / 13%);
    padding: 16px;
}
.header .nav-item .nav-link {
    color: white;
    font-weight: 500;
    font-size: 15px;
}
.slider_box{
    background-image: url('../images/slider_bg.png');
    background-size: cover;
    padding: 65px;
}
.slider_box h1{
    font-weight: 700;
    font-size: 40px;
    color: #343039;
}
.slider_box p .orignl{
    color: #00c9ff;
    font-size: 20px;
}
.slider_box p .old{
    position: relative;
    display: inline-block;
}
.slider_box p .old:before{
   content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #343039;
    z-index: 1024;
}
.slider_box p{
    font-size: 18px;
    font-weight: 500;
    color: #343039;
}
.slider_box .btn{
    border: 2px solid #00c9ff;
    color: #00c9ff;
    font-weight: 500;
    padding: 10px 30px;
}
.swiper-pagination-bullet {
    width: 20px !important;
    height: 5px !important;
    display: inline-block;
    border-radius: 10px !important;
    background: #343039 !important;
    opacity: 1 !important;
}
.quiz_slider .swiper-button-next{
    background-image: url('../images/next.png');
    background-size: cover;
    width: 28px;
    height: 28px;
}
.quiz_slider .swiper-button-prev{
    background-image: url('../images/prev.png');
    background-size: cover;
    width: 28px;
    height: 28px;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #00c9ff !important;
}
.bg_section{
	background-color: #e5f9ff;
}
.quiz_slider h2{
    color: #00c9ff;
    font-size: 25px;
}
.mobile_sec {
    background: #00c9ff;
    z-index: 1;
    overflow: hidden;
    position: relative;
}
.mobile_sec:before {
    background: #fff none repeat scroll 0 0;
    height: 50%;
    top: 70%;
}
.mobile_sec:before {
    content: "";
    height: 100%;
    position: absolute;
    -webkit-transform: skewY(
188deg
);
    transform: skewY(
188deg
);
    width: 100%;
    z-index: 0;
}
.mobile_sec p{
    font-size: 20px;
    color: white;
    font-weight: 400;
}
.mobile_sec h4{
    font-size: 33px;
    color: white;
    font-weight: 700;
}
.mobile_sec1 h5{
    color: #000000;
    font-size: 36px;
    font-weight: 700;
}
.mobile_sec1 p{
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}
.mobile_sec1 h6{
    font-size: 19px;
    color: #0000ff;
    font-weight: 600;
}
.benifits_section{
    background-color: #0000ff;
}
.benifits_section p{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.benifits_section h2 {
    color: white;
    font-size: 36px;
    font-weight: 700;
}
.built_sec h5{
    color: #000000;
    font-size: 36px;
    font-weight: 700;
}
.built_sec li{
    font-size: 22px;
    margin-bottom: 35px;
}
.built_sec li::marker{
    color: #00c9ff;
}
.connected_sec{
    background-color: #00c9ff1f;
}
.connected_sec h5 {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
}
.icon_box{
    min-width: 80px;
    height: 80px;
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connected_sec li{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
    background: white;
    width: 100%;
    padding: 15px 0px 15px 48px;
    list-style: none;
    position: relative;
    border-radius: 4px;
}
.connected_sec li:before{
    background-color: #00c9ff;
    width: 13px;
    height: 13px;
    content: '';
    position: absolute;
    left: 20px;
    border-radius: 100px;
    top: 24px;
}

.quiz_section_title p{
    font-weight: 500;
}
.quiz_section_box{
   background-color: #00c9ff30;
    padding: 21px 17px;
}
.quiz_slider .swiper-button-next:after{
    content: unset;
}
.quiz_slider .swiper-button-prev:after{
    content: unset;
}
.quiz_slider .swiper-button-prev, .quiz_slider .swiper-container-rtl .swiper-button-next{
        left: auto;
    right: 46px;
}
.quiz_section_box h6{
        font-size: 19px;
    color: #000000;
    font-weight: 500;

}
.quiz_footer{
    display: flex;
    justify-content: space-between;
}
.ans{
        color: #00c9ff;
    font-weight: 500;
    font-size: 17px;
}
.qstn{
     color: #0000ff;
    font-weight: 500;
    font-size: 15px;
    background: #fff;
    padding: 3px 6px;
    border-radius: 5px;
}
.downld_sec{
    background-color: #00c9ff;
}
.downld_sec h5{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.downld_sec p{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 32px;
}
.Signup_box {
    background: #fff;
    width: 100%;
    max-width: 70%;
    margin: auto;
    padding: 28px;
}
.Signup_box h5 {
    font-weight: 600;
}
.Signup_box .input103 {
    display: block;
    border: 0;
    height: 46px;
    border-radius: 0;
    border-bottom: 1px solid #e9e9e9;
    font-weight: 500;
    font-size: 14px;
}
.Signup_box textarea {
    height: 92px !important;
}
footer{
    background-color: #000025;
}
footer li {
    display: inline;
    padding: 0 25px;
}
footer li a{
    color: white;
    font-weight: 600;
    font-size: 17px;
}
footer .fa{
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.footer_btm p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    display: inline;
    font-weight: 500;
    color: #ffffff6e;
}
.footer_btm li {
    display: inline;
    padding: 0px 0px 0 22px;
}
.camera_box input[type=file]{
    position: absolute;
    top: 0;
    left: 0;
    width: 196px;
    height: 146px;
    opacity: 0;
    cursor: pointer;
}

.camera_box img{
    height: 200px;
    width: 200px;
}
.react-tel-input .flag-dropdown {
    background-color: white !important;
    border-radius: 0px !important;
    border-bottom: 1px solid  #e9e9e9 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.custom-phone-input{
    color: #35cede !important;
    padding-top: 8px;
    border-bottom: 1px solid #e9e9e9;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px 0px;
    height: 46px;
}

.PhoneInputInput{
    border:none;
    /* font-weight: 500;
    font-size: 16px;
    color: black; */
}

.ee{
    color: #35cede !important;
    padding-top: 8px;
    font-weight: 500;
    font-size: 16px;
    margin: 8%;
    height: 46px;
    width: 92%;
    background-color: white;
    border-radius: 0px; 
    border-bottom: 1px solid #e9e9e9;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 500;
    font-size: 16px;
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgb(118, 118, 118);
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgb(118, 118, 118);
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgb(118, 118, 118);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgb(118, 118, 118);
}

.input_row{
    padding-left: 12px;
}
.select_image{
    position: relative;
    display: inline-block;
    height: 200px;
    margin: 10px 0;
    overflow: hidden;
    border: 1px solid grey;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.select_image img{
    width: 100%;
    height: auto;
}
.loader{
    position: fixed;
    z-index: 1025;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000ab;
    overflow: hidden;
}
.loader img{
    width: 100px;
}

#pause-timer{
    position: absolute;
    margin-left: -155px;
    background-color: white;
    color:white;
    height: 0px;
    width: 0px;
    font-size: 0px;
    cursor: pointer;
    opacity: 0;
}

.img-type-answer-option{
    max-width: 160px;
    max-height: 160px;
}

.PhoneInputInput{
    display: none;
}

.phone-number-mask{
    margin-left: 40px;
    padding-top: 8px;
    border-bottom: 1px solid #e9e9e9;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px 0px;
    height: 46px;
    font-size: 15px;
    width: 72%;
}
.search-box {
    max-width: 390px;
    background-color: #00c9ff33;
    padding: 7px 10px;
    width: 100%;
}
.search-box input.form-control {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
}
.search-box i.fa.fa-search {
    font-size: 22px;
    color: #00c9ff;
}
section.heading-search {
    margin: 10px 0;
}
section.heading-search .container {
    display: flex;
    align-items: center;
}
.search-box {
    max-width: 390px;
    background-color: #00c9ff1f;
    padding: 7px 10px;
    width: 100%;
    margin-left: auto;
    border-radius: 5px;
}
section.heading-search h2 {
    color: #00c9ff;
    font-weight: 700;
    font-size: 23px;
    margin-top: 18px;
    /* text-transform: lowercase; */
}
.search-box input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
  }
  .first-product.text-center {
    background: white;
    
    border-radius: 10px;
    padding: 9px 0;
    height: 100%;
}
.first-product.text-center p {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 0;
    background: #00c9ff;
    padding: 10px;
    height: 59px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.product-image {
    box-shadow: 0px 2px 5px #00000012;
    border: 1px solid #bdbdbd85;
    width: 100%;
    border-radius: 3px 3px 0 0;
}
.product-image img {
    height: 130px;
    object-fit: cover;
}
section.product-area-box {
    margin-bottom: 100px;
}
.form-control:focus {
    box-shadow: none !important ;
}
.product-list-image.text-center {
    height: 210px;
    margin: 17px 19px;
    display: flex;
    align-items: center;
}

.product-list-box {
    background: white;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    box-shadow: 0px 2px 5px #00000012;
    margin: 15px 0;
}
.product-list-box h4 {
    font-size: 15px;
    color: #000;
}
.product-list-box h6  {
    margin: 9px 0 4px 0;
}
.product-list-box h6 i {
    color: #f5bf03;
}
span.total-review.ml-1 {
    color: grey;
    font-size: 14px;
    font-weight: 500;
}
.product-list-box h5 {
    font-size: 15px;
    color: #5f5f5f;
    margin:  0;
}
span.discount-amount {
    color: #00c9ff;
    font-size: 17px;
}
.product-list-details {
    background: #00c9ff12;
    margin-top: 18px;
    padding: 13px;
    padding-bottom: 10px;
}
.product-list-details h4{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.like-favorite-box {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 1024;
    cursor: pointer;
}
.recent-search{
    color: #5454549e!important;
    font-weight: 400 !important;
}
button.cross-btn {
    background: none;
    border: none;
}
button.cross-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
.remove-modal {
    width: 640px;
}
.ReactModal__Content.ReactModal__Content--after-open {
    border: none !important;
    border-radius: 10px !important;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background: #00000070 !important;
}
h2.modal-heading.text-center {
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
}
.remove-modal h6 {
    font-size: 36px;
    font-weight: 400;
}
.remove-modal h4 {
    font-size: 42px;
    font-weight: 700;
}
span.modal-no a {
    border: 1px solid #00c9ff;
    padding: 15px 120px;
    font-size: 30px;
    color: #00c9ff;
}
span.modal-yes a {
    border: 1px solid #00c9ff;
    background-color: #00c9ff;
    padding: 15px 120px;
    font-size: 30px;
    color: #ffffff;
}
span.modal-no a:hover {
    background: #00c9ff;
    color: #fff;
}
span.modal-yes a:hover {
    background: #ffffff;
    color: #00c9ff;
}
.review-left-side.text-center {
    border: 1px solid #a5a5a5;
    padding: 20px 0;
    border-radius: 10px;
}

.product-detials-page .swiper-container.swiper-container-initialized.swiper-container-horizontal.swiper-container-pointer-events {
    border: 2px solid #bbbbbb;
    border-radius: 10px;
    margin-top: 42px;
}
span.review-time {
    margin-left: auto;
    font-weight: 400;
    color: #969696;
}
section.review-list-area .media {
    border-bottom: 1px solid gainsboro;
    padding: 22px 0;
}
section.review-list-area .media:last-child{
    border-bottom:none ;
}
section.review-list-area h3 {
    margin: 20px 0;
}
section.review-list-area {
    margin: 30px 0;
}
section.review-list-area i.fa.fa-star {
    color: #f5bf03;
    font-size: 18px;
    margin-right: 2px;
}
section.review-list-area img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.slider_box_new {
    padding: 57px;
}
.slider_box_new h1{
    font-weight: 700;
    font-size: 40px;
    color: #343039;
}
.slider_box_new p .orignl{
    color: #00c9ff;
    font-size: 20px;
}
.slider_box_new p .old{
    position: relative;
    display: inline-block;
}
.slider_box_new p .old:before{
   content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #343039;
    z-index: 1024;
}
.slider_box_new p{
    font-size: 18px;
    font-weight: 500;
    color: #343039;
}
.slider_box .btn{
    border: 2px solid #00c9ff;
    color: #00c9ff;
    font-weight: 500;
    padding: 10px 30px;
}
.product-detials-page .swiper-button-next {
    color: white !important;
    background: #00c9ff;
    padding: 2px 22px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #a7a7a7;
}
.product-detials-page .swiper-button-prev {
    color: white !important;
    background: #00c9ff;
    padding: 2px 22px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #a7a7a7;
}
.product-detials-page .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px !important;
    font-weight: 900;
}
.product-detials-page .swiper-button-next, .product-detials-page .swiper-button-prev {
    top: 55% !important;
}
.product-detail-rightside {
    margin-top: 40px;
}
.product-detail-rightside h2{
    font-weight: 700;
    font-size: 25px;
}
.product-detail-rightside h6 span {
    font-size: 12px;
    color: blue;
    background: #e5e5ff;
    padding: 7px 14px;
    border-radius: 22px;
}
.product-detail-rightside h6 {
 margin: 18px 0;
}
.product-detail-rightside h5 i {
    color: #f5bf03;
    margin-right: 5px;
    font-size: 16px;
}
.product-detail-rightside h5 {
    font-size: 15px;
    font-weight: 500;
    margin: 16px 0;
}
.product-detail-rightside del {
    font-weight: 400;
    color: #636363;
}
.product-detail-rightside h5 span{
    color: #00c9ff;
    font-size: 16px;
}
.product-detail-rightside h5 a{
    color:#93999f  !important;
}
button.btn.add-minus {
    background: #00c9ff;
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
button.btn.add-minus i {
    color: #fff;
    margin-right: 0;
    font-size: 14px;
}
h5.select-quantity-box {
    border-top:1px solid #e0e0e0;
    /* border-bottom: 1px solid #e0e0e0; */
    padding: 10px 0 0 0;
    margin-bottom: 8px;
}
a.checkout-bt {
    background: #00c9ff;
    color: #fff !important;
    padding: 12px 36px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 500;
    /* box-shadow: 0px 3px 6px #bbbbbb; */
}
a.favourite-bt {
    border: 1px solid #00c9ff;
    color: #00c9ff !important;
    padding: 12px 25px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
}
a.favourite-bt i{
    font-size: 23px;
    margin-right: 7px;
}
.product-detail-rightside p{
    padding: 17px 0;
    margin: 18px 0px;
}
.description-area h3 {
    font-size: 18px;
    color: #636363;
}
.description-area{
    margin-top: 40px;
}
.description-area p {
    font-size: 15px;
    color: #1b1b1b;
    font-weight: 500;
}
.description-area {
    margin: 50px 0;
}

.review-detail-rightside h6 {
    margin: 19px 0;
}
   .review-detail-rightside h5 i {
       color: #f5bf03;
       margin-right: 5px;
   }
   .review-detail-rightside h5 {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
}
   .review-detail-rightside del {
       font-weight: 400;
       color: #636363;
   }
   .review-detail-rightside h5 span{
       color: #00c9ff;
   }
   .review-detail-rightside h5 a{
       color:#212529 !important;
   }
   .review-detail-rightside h6 span {
    font-size: 16px;
    color: blue;
    background: #e5e5ff;
    padding: 7px 21px;
    border-radius: 22px;
}
.no-blog{
    text-align: center !important;
    display: block !important;
    padding-bottom: 9px;
    width: 100%;
    border-bottom: 1px solid #d3d3d39e !important;

}
.popular a h6{
    color: hsl(0, 0%, 34%);
}
.product-list-image.text-center img {
    height: 210px;
    width: 100%;
    object-fit: contain;
}
button.btn.btn-sm.btn-facebook i {
    font-size: 24px;
    background: #3a6bfa;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}
button.btn.btn-sm.twt-btn i{
    font-size: 24px;
    background: #3a6bfa;
    padding: 5px 6px;
    border-radius: 5px;
    color: #fff;
}
button.btn.btn-sm.whtsp-btn i{
    font-size: 24px;
    background: #3a6bfa;
    padding: 5px 7px;
    border-radius: 5px;
    color: #fff;
}
.row.animated.animatedFadeInUp.fadeInUp.social-btns {
    padding: 0 6px 10px;
    float:right;
}
.row.align-items-start{
    clear: both;
}
.article-img img {
    width: 100%;
    height: 280px;
    object-fit: contain;
}