<div class="container" style="padding: 25px">
  <h2>Trafic Light</h2>
  <div class="row">
    <div class="col-sm-6 block" *ngFor="let light of lights; let i = index">
      <div class="d-flex">
        <div
          class="white"
          style="
            width: 80px;
            height: 80px;
            border: 1px solid #000;
            border-radius: 50%;
          "
          [class.red]="light.red"
        ></div>
        <div
          class="white"
          style="
            width: 80px;
            height: 80px;
            border: 1px solid #000;
            border-radius: 50%;
          "
          [class.yellow]="light.yellow"
        ></div>
        <div
          class="white"
          style="
            width: 80px;
            height: 80px;
            border: 1px solid #000;
            border-radius: 50%;
          "
          [class.green]="light.green"
        ></div>
        <div style="margin-left: 20%">
          <div *ngIf="i + 1 === 1" class="timer">
            <h3>{{ timer1 }}</h3>
          </div>
          <div *ngIf="i + 1 === 2" class="timer">
            <h3>{{ timer2 }}</h3>
          </div>
          <div *ngIf="i + 1 === 3" class="timer">
            <h3>{{ timer3 }}</h3>
          </div>
          <div *ngIf="i + 1 === 4" class="timer">
            <h3>{{ timer4 }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
